<a href="https://colab.research.google.com/github/MehrajShah/PYTHON/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# What is your name! print your name!
# # Only use one print function

print("My name is Mehraj Shah.")

My name is Mehraj Shah.

In [5]:
#define variables named as with values: mukesh=7, z=6, rohan=5, longitude=4

mukesh = 7
z = 6
rohan = 5
longitude = 4

In [6]:
# print required variable
# output - 5

print(rohan)

5

**Declaring a Variable**

In [8]:
# declare 4 variables with values as: ur_age 21,ur_weight 50.6, ur_first_name = 'Mukesh',ur_last_name = "Manral"

ur_age = 21
ur_weight = 50.6
ur_first_name = 'Mukesh'
ur_last_name = "Manral"

In [9]:
# print type of ur_age,ur_weight,ur_first_name,ur_last_name variables

print(type(ur_age))
print(type(ur_weight))
print(type(ur_first_name))
print(type(ur_last_name))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [10]:
# print values of ur_age,ur_weight,ur_first_name,ur_last_name variables

print(ur_age)
print(ur_weight)
print(ur_first_name)
print(ur_last_name)

21
50.6
Mukesh
Manral

In [12]:
# make 2 variables with values as: ur_first_name 'Mukesh',ur_last_name'Mukesh'

ur_first_name = "Mukesh"
ur_last_name = "Mukesh"

In [13]:
# make a variable TrueOrFalse which will have comparison of variables ur_last_name == ur_first_name

TrueOrFalse = ur_last_name == ur_first_name
print(TrueOrFalse)

True

In [14]:
# define a variable name "x" and assign value 777 and print it

x = 777
print(x)

777

Operators: Symbols that represent mathematical or logical tasks

Example:
700 + 77

+ <= Operator
700 & 77 <= Operands

In [15]:
x = 7  # int
y = 77  # int
z = 77.7  # float
zz = 'Hi'  # string

In [16]:
# add x and z

print(x + z)

84.7

In [17]:
#subtract z and y

print(z - y)

0.7000000000000028

In [18]:
# Multiply x and z

print(x * z)

543.9

In [19]:
# Exponent (raise the power or times) x times z

print(x**z)

4.614426248242042e+65

In [20]:
# division on x and z

print(x / z)

0.09009009009009009

In [21]:
# floor division(ignores decimal) on x and z (gives quotient)

print(x // z)

0.0

In [22]:
# Modulo(gives remainder) on x and z

print(x % z)

7.0

**Comparison Operators**

In [23]:
# comapre and see if x is less then z
# can use '<' symbol

print(x < z)

True

In [24]:
# check the type of above comaprison where it says comapre and see if x is less then z

print(type(x < z))

<class 'bool'>

In [25]:
# compare and see if x is less then or equall to z
# can use '<=' symbol

print(x <= z)

True

In [28]:
# comapre and see if x equall to z
#  can use '==' symbol

print(x == z)

False

In [30]:
# comapre and see if x is greater than z
#can use '>' symbol

print(x > z)

False

In [31]:
# comapre and see if x is greater than or equall to z
# can use '>=' symbol

print(x >= z)

False

In [32]:
# comapre and see if x is Not equall to z
# can use '!=' symbol

print(x != z)

True

**Logical Operators**

In [33]:
# compare if 108 is equall to 108, 21 is equall to 21 using logical and
# # equall to => '=='
# # logical and => and
# # in and both condition must be True to get a True

print(108 == 108 and 21 == 21)

True

In [39]:
# how above condition can give False as output show all those conditions

#The above condition can give False as output if any of the following conditions are False:

108 != 108
21 != 21
#Here are some examples of how this can happen:

print(108 != 108)  # This will print False
print(21 != 21)    # This will print False

False
False

In [41]:
#how above condition can give False as output show all those conditions

# The above condition can give False as output if any of the following conditions are False:

108 != 108
21 != 21

# Here are some examples of how this can happen:

print(108 != 108)  # This will print False
print(21 != 21)    # This will print False

False
False

In [42]:
# compare if 108 is equall to 108, 21 is equall to 11 using logical or
# # equall to => '=='
# # logical or => or
# # in or Only one condition need to be True to get a True

print(108 == 108 or 21 == 11)

True

In [43]:
# this is for you to understand it
(108 == 108) or (21 == 11) or (108 <= 11)

True

In [44]:
# prompt: # make variable with value as : money 100000
# # see output of money > 2000

money = 100000
print(money > 2000)

True

In [45]:
# assign money variable value of 10000
# ##### say you have this much ammount in your account
# # start of if condition
# # if money is greater then 1000 which is data science course free
# # if money > 1000 is false i.e. you have less money then 1000 in your account then else will work for now only if is working

money = 100000
if money > 1000:
  print("You have enough money to buy the data science course.")
else:
  print("You do not have enough money to buy the data science course.")

You have enough money to buy the data science course.

In [46]:
# take a test_score variable with 80 in it.
# # if test_score greater then 80 then print A grade
# # elif test_score greater then 60 and less then 80 print B grade
# # else print Nothing for you

test_score = 80

if test_score > 80:
  print("A grade")
elif 60 < test_score < 80:
  print("B grade")
else:
  print("Nothing for you")

Nothing for you

**Python Loops**

In [49]:
# print 'I love sports' 10 times using for loop
for iterating_variable in range(10):
    print('I love sports')

I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports

In [50]:
# while loop
# # save 0 in variable number
# # print till 10 using while loop

number = 0
while number < 10:
  print(number)
  number = number + 1

0
1
2
3
4
5
6
7
8
9

**Break Statement**

In [51]:
# example that uses break statement in a for loop
# # take range(10) and print 'The number is' + value
# # break when num equals 5

for num in range(10):
  print('The number is ' + str(num))
  if num == 5:
    break

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 5

**Continue Statement**

In [52]:
# # Use a continue statement rather than a break statement
# # take range(10) and print 'The number is' + value
# # continue when num equals 5

for num in range(10):
  print('The number is ' + str(num))
  if num == 5:
    continue

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 5
The number is 6
The number is 7
The number is 8
The number is 9

**String Manipulation**

In [53]:
# define a string variable with "We are creating next generation data science eco-system at CollegeRanker"

string_var = "We are creating next generation data science eco-system at CollegeRanker"

In [54]:
# Find length of string including spaces

print(len(string_var))

72

In [55]:
# Access characters in a string with indexing i.e string[0]

print(string_var[0])

W

In [56]:
# Access characters with negative indexing i.e string[-1]

print(string_var[-1])

r

**String Slicing**

In [57]:
# select string from first to 6th element i.e string[:6]

print(string_var[:6])

We are

In [58]:
# select string from 7th to negative 10th element i.e string[7:-10]

print(string_var[7:-10])

creating next generation data science eco-system at Col

In [61]:
#Count of a particular character in a string

string = "We are creating next generation data science eco-system at CollegeRanker"
char = "a"

count = 0
for c in string:
  if c == char:
    count += 1

print(f"The character '{char}' appears {count} times in the string '{string}'")

The character 'a' appears 7 times in the string 'We are creating next generation data science eco-system at CollegeRanker'

In [74]:
# .find() => if present it will return starting index, not found then it will return -1
# # .index() => if present it will return starting index, not found then it will give error

string = "We are creating next generation data science eco-system at CollegeRanker"

# Find the first occurrence of the letter "e"
index = string.find("e")

# Print the index of the first occurrence of "e"
print(index)  # Output: 3

# Find the first occurrence of the letter "z"
index = string.find("z")

# Print the index of the first occurrence of "z"
print(index)  # Output: -1

# Find the first occurrence of the word "data"
index = string.find("data")

# Print the index of the first occurrence of "data"
print(index)  # Output: 21

# Find the first occurrence of the word "xyz"
index = string.find("xyz")

# Print the index of the first occurrence of "xyz"
print(index)  # Output: -1

# Find the first occurrence of the letter "e" using index()
index = string.index("e")

# Print the index of the first occurrence of "e"
print(index)  # Output: 3

# Find the first occurrence of the letter "z" using index()
index = string.find("z")

# Print the index of the first occurrence of "z"
print(index)  # This will raise a ValueError since "z" is not found in the string

1
-1
32
-1
1
-1

In [75]:
### Checking whether string `startswith` or `endswith` a particular substring or not

# Check if the string starts with "We"
print(string_var.startswith("We"))  # True

# Check if the string ends with "CollegeRanker"
print(string_var.endswith("CollegeRanker"))  # True

# Check if the string starts with "Hello"
print(string_var.startswith("Hello"))  # False

# Check if the string ends with "World"
print(string_var.endswith("World"))  # False

True
True
False
False

In [77]:
### Converting string to upper case ###

string = "We are creating next generation data science eco-system at CollegeRanker"

# Convert the string to uppercase
uppercase_string = string.upper()

# Print the uppercase string
print(uppercase_string)

WE ARE CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM AT COLLEGERANKER

In [78]:
# Converting only first character of string to upper case

string = "we are creating next generation data science eco-system at collegeranker"

# Convert the first character to uppercase
first_char_uppercase = string[0].upper()

# Slice the string starting from the second character
rest_of_string = string[1:]

# Concatenate the uppercase first character with the rest of the string
new_string = first_char_uppercase + rest_of_string

# Print the new string
print(new_string)

We are creating next generation data science eco-system at collegeranker

In [79]:
#Checking if string is in lower case or upper case

string = "We are creating next generation data science eco-system at CollegeRanker"

# Check if the string is in lowercase
is_lowercase = string.islower()

# Print the result
print(is_lowercase)  # False

# Check if the string is in uppercase
is_uppercase = string.isupper()

# Print the result
print(is_uppercase)  # False

# Convert the string to lowercase
lowercase_string = string.lower()

# Check if the string is in lowercase
is_lowercase = lowercase_string.islower()

# Print the result
print(is_lowercase)  # True

# Convert the string to uppercase
uppercase_string = string.upper()

# Check if the string is in uppercase
is_uppercase = uppercase_string.isupper()

# Print the result
print(is_uppercase)  # True

False
False
True
True

In [80]:
# Checking if string is digit, alpabetic, alpha-numeric

string = "We are creating next generation data science eco-system at CollegeRanker"

# Check if the string is a digit
is_digit = string.isdigit()

# Print the result
print(is_digit)  # False

# Check if the string is alphabetic
is_alphabetic = string.isalpha()

# Print the result
print(is_alphabetic)  # False

# Check if the string is alphanumeric
is_alphanumeric = string.isalnum()

# Print the result
print(is_alphanumeric)  # False

# Create a string with only digits
digit_string = "1234567890"

# Check if the string is a digit
is_digit = digit_string.isdigit()

# Print the result
print(is_digit)  # True

# Create a string with only alphabets
alphabetic_string = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"

# Check if the string is alphabetic
is_alphabetic = alphabetic_string.isalpha()

# Print the result
print(is_alphabetic)  # True

# Create a string with both alphabets and digits
alphanumeric_string = "123abc456def789ghi"

# Check if the string is alphanumeric
is_alphanumeric = alphanumeric_string.isalnum()

# Print the result
print(is_alphanumeric)  # True

False
False
False
True
True
True

In [81]:
# assign "C++ is easy to learn" to a new_str variable

new_str = "C++ is easy to learn"

In [82]:
 ### Replace C++ with Python

new_str = new_str.replace("C++", "Python")
print(new_str)

Python is easy to learn

In [84]:
 ### Use Split function on new_str ###

new_list = new_str.split()
print(new_list)

['Python', 'is', 'easy', 'to', 'learn']

**Python Functions**

In [85]:
# define a function with welcome_message(name) and body 'Welcome to Functions !!!'

def welcome_message(name):
  """
  This function prints a welcome message to the user.

  Args:
      name: The name of the user.
  """
  print(f"Welcome to Functions, {name}!")

# Example usage
welcome_message("Mehraj Shah")

Welcome to Functions, Mehraj Shah!

In [90]:
# Write a function to add two number which are as 3 and 4
# # in total variable store adition of 3 + 4
# # print total variable

def add_two_numbers(num1, num2):
  """
  This function adds two numbers and returns the sum.

  Args:
      num1: The first number.
      num2: The second number.

  Returns:
      The sum of the two numbers.
  """
  total = num1 + num2
  return total

# Example usage
num1 = 3
num2 = 4

total = add_two_numbers(num1, num2)

print(f"The sum of {num1} and {num2} is {total}")

The sum of 3 and 4 is 7

In [93]:
## Create substraction_function(small_number,large_number) and return difference between large_number and small_number

def subtraction_function(small_number, large_number):
  """
  This function subtracts the smaller number from the larger number and returns the difference.

  Args:
      small_number: The smaller number.
      large_number: The larger number.

  Returns:
      The difference between the larger and smaller numbers.
  """
  difference = large_number - small_number
  return difference

# Example usage
small_number = 3
large_number = 4

difference = subtraction_function(small_number, large_number)

print(f"The difference between {large_number} and {small_number} is {difference}")

The difference between 4 and 3 is 1

In [94]:
 # pass arguments in right order

def my_function(a, b, c):
  """
  This function takes three arguments and prints them.
  """
  print(a, b, c)

my_function(c=3, b=2, a=1)

1 2 3

In [96]:
 # always pass arguments using there name(keyword arguments) then order does not matter

def my_function(c, b, a):
  """
  This function takes three arguments and prints them.
  """
  print(a, b, c)

my_function(c=3, b=2, a=1)

1 2 3

**Scope of Variables means that part of program where we can access particular variable**

In [108]:
# defining function
def random_function():
    # accessing variable which is outside of this function
    global global_variable
    return global_variable
print('global_variable')  # Output: 'variable outside of function'

def random_function():
    random_function_result = 'variable inside of function'
    print('random_function_result')  # Output: 'variable inside of function'

global_variable

In [110]:
#print(random_function())
# print(global_variable)

global_variable = 'variable outside of function'

def random_function():
    # accessing variable which is outside of this function
    return global_variable

print(global_variable)  # Output: 'variable outside of function'

print(random_function())  # Output: 'variable outside of function'

print(global_variable)  # Output: 'variable outside of function'

variable outside of function
variable outside of function
variable outside of function

In [111]:
#changing variable outside of function from inside of function
# variable outside of function

def random_function():
    # accessing variable which is outside of this function
    global global_variable
    global_variable = 'changed variable inside of function'
    return global_variable

print('global_variable')  # Output: 'variable outside of function'

global_variable = 'variable outside of function'

def random_function():
    # accessing variable which is outside of this function
    global global_variable
    global_variable = 'changed variable inside of function'
    return global_variable

print(global_variable)  # Output: 'variable outside of function'

print(random_function())  # Output: 'changed variable inside of function'

print(global_variable)  # Output: 'changed variable inside of function'

global_variable
variable outside of function
changed variable inside of function
changed variable inside of function

In [115]:
# prompt: Print Thanks & Regards Mehraj Shah

print("Thanks & Regards\nMehraj Shah")

Thanks & Regards
Mehraj Shah