<a href="https://colab.research.google.com/github/MehrajShah/PYTHON/blob/main/Assignment-1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Create an empty list with the name ‘a’, print the value of a and type(a).

a = []
print(a)
print(type(a))

[]
<class 'list'>

In [ ]:
#Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],
languages = ['R','Python', 'SAS', 'Scala', 42]                     # Create a list with different data types
print(languages)
print(type(languages))

['R', 'Python', 'SAS', 'Scala', 42]
<class 'list'>

In [ ]:
#Print the number of elements in the list

print(len(languages))

5

In [ ]:
#Using for loop iterate and print all the elements in the list

for x in languages:
  print(x)

R
Python
SAS
Scala
42

In [ ]:
#Select the second item, 'Python' and store it in a new variable named 'temp

temp = languages[1]

In [ ]:
#Print the value of temp and type(temp)

print(temp)
print(type(temp))

Python
<class 'str'>

In [ ]:
#Append the element 'Java' in the list

languages.append('Java')
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

In [ ]:
#Remove the element 42 from the list and print the list

languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

**`Create a list, colors = [‘Red’, ‘Blue’, ‘White’]`**

In [ ]:
#Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

colors = ['Red', 'Blue', 'White']

In [ ]:
#Append the element 'Black' to colors

colors.append('Black')

In [ ]:
#Append the color 'Orange' to second position (index=1) and print the list

colors.insert(1, 'Orange')
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

In [ ]:
# prompt: Print the list

print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

In [ ]:
#Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

colors2 = ['Grey', 'Sky Blue']

In [ ]:
# Add the elements of colors2 to colors using extend function in the list
colors.extend(colors2)
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

In [ ]:
#Print len of colors and its elements

print(len(colors))
for x in colors:
  print(x)

7
Red
Orange
Blue
White
Black
Grey
Sky Blue

In [ ]:
#Sort the list and print it.

colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

**Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.**

In [ ]:
#Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

sent = 'Coronavirus Caused Lockdowns Around The World.'

In [ ]:
#Use split function to convert the string into a list of words and save it in variable words and print the same

words = sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

In [ ]:
#Convert each word in the list to lower case and store it in variable words_lower. Print words_lower

words_lower = [word.lower() for word in words]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

In [ ]:
#Check whether ‘country’ is in the list

country = "United States"

countries = ["China", "United States", "Greece"]

print(country in countries)

True

In [ ]:
#Remove 'the' element the from the list and print the list.
words = ["Remove" , "the" , "element" , "the", "from " , "the" , "list", "and" , "print" , "the" , "list"]
words.remove('the')
print(words)

['Remove', 'element', 'the', 'from ', 'the', 'list', 'and', 'print', 'the', 'list']

In [ ]:
# Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

x4 = words_lower [:4]

In [ ]:
# print x4

print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

In [ ]:
#Convert the list of elements to single string using join function and print it

s = ' '.join(x4)
print(s)

coronavirus caused lockdowns around

**Create stud_grades = ['A','A','B','C','C','F']**

In [ ]:
#Create stud_grades = ['A','A','B','C','C','F']

stud_grades = ['A','A','B','C','C','F']

In [ ]:
grades_set = set(stud_grades)
print(grades_set)

{'C', 'F', 'A', 'B'}

In [ ]:
#Print the len of stud_grades

print(len(stud_grades))

6

In [ ]:
#Create a new variable, stud_grades_set = set(stud_grades)

stud_grades_set = set(stud_grades)

In [ ]:
#Print stud_grades_set.

print(stud_grades_set)

{'C', 'F', 'A', 'B'}

In [ ]:
#print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

print(f"Type of stud_grades: {type(stud_grades)}")
print(f"Elements of stud_grades: {stud_grades}")

print(f"\nType of stud_grades_set: {type(stud_grades_set)}")
print(f"Elements of stud_grades_set: {stud_grades_set}")

# Explanation:
# stud_grades is a list, which is an ordered collection of elements that can contain duplicates.
# stud_grades_set is a set, which is an unordered collection of unique elements. Sets do not allow duplicates.

# When we convert the list stud_grades to a set, the duplicate elements are removed.
# Therefore, the length of stud_grades_set is smaller than the length of stud_grades.

Type of stud_grades: <class 'list'>
Elements of stud_grades: ['A', 'A', 'B', 'C', 'C', 'F']

Type of stud_grades_set: <class 'set'>
Elements of stud_grades_set: {'C', 'F', 'A', 'B'}

In [ ]:
#Add a new element ‘G’ to stud_grades_set

stud_grades_set.add('G')
print(stud_grades_set)

{'B', 'F', 'A', 'G', 'C'}

In [ ]:
#Add element 'F' to stud_grades_set. and print it.

stud_grades_set.add('F')
print(stud_grades_set)

{'B', 'F', 'A', 'G', 'C'}

In [ ]:
#Remove ‘F’ from stud_grades_set

stud_grades_set.remove('F')
print(stud_grades_set)

{'B', 'A', 'G', 'C'}

In [ ]:
#Print the elements and the length of stud_grades_set

# Print the elements of stud_grades_set
print(stud_grades_set)

# Print the length of stud_grades_set
print(len(stud_grades_set))

{'B', 'A', 'G', 'C'}
4

In [ ]:
# Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]
# & print them

colors = ['red', 'blue', 'orange']
print (colors)

fruits = ['orange', 'grapes', 'apples']
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

In [ ]:
#Create colors_set, and fruits_set. (using set() ) and print them

colors_set = set(colors)
fruits_set = set(fruits)

print(colors_set)
print(fruits_set)

{'red', 'blue', 'orange'}
{'grapes', 'orange', 'apples'}

In [ ]:
#Find the union of both the sets.

union_set = colors_set.union(fruits_set)
print(union_set)

{'grapes', 'red', 'blue', 'orange', 'apples'}

In [ ]:
#Find the intersection of both the sets

intersection_set = colors_set.intersection(fruits_set)
print(intersection_set)

{'orange'}

In [ ]:
#Find the elements which are Fruits but not colors (using set.difference() )

# Find the elements which are Fruits but not colors (using set.difference() )

difference_set = fruits_set.difference(colors_set)
print(difference_set)

{'grapes', 'apples'}

**TUPLES**

In [1]:
#Create temp = [17, ’Virat’, 50.0]

temp = [17, 'Virat', 50.0]

In [2]:
#Iterate through temp and print all the items in temp

for item in temp:
  print(item)

17
Virat
50.0

In [8]:
# replace first element with 11 in temp

temp[0] = 11

In [7]:
#Set temp1 = tuple(temp)

temp1 = tuple(temp)

In [6]:
#Iterate through temp1 and print all the items in temp1.

for item in temp1:
  print(item)

11
Virat
50.0

In [9]:
# replace first element with 17 in temp1

# To replace the first element in a tuple, you can convert it to a list, make the change, and then convert it back to a tuple:

temp1 = list(temp1)
temp1[0] = 17
temp1 = tuple(temp1)

# Print the modified tuple
print(temp1)

(17, 'Virat', 50.0)

In [11]:
#Create city = ("Bangalore", 28.9949521, 72)

city = ("Bangalore", 28.9949521, 72)

In [12]:
# Print first element of city

print(city[0])

Bangalore

In [13]:
# Create city2 = (‘Chennai’, 30.01, 74)

city2 = ('Chennai', 30.01, 74)

In [15]:
#Create cities which consist of city and city2

cities = city + city2

In [16]:
#Print cities

print(cities)

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

In [23]:
# Print type of first element in cities

print(type(cities[0]))

<class 'str'>

**DICTIONARY**

In [24]:
#Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}

In [26]:
#Print the value of d[0]

print(d["actor"])

amir

In [27]:
#Store the value of d[‘actor’] to a new variable actor.

actor = d["actor"]
print(actor)

amir

In [28]:
# prompt: Print the type of actor

print(type(actor))

<class 'str'>

In [29]:
#Store the value of d[‘list’] in new variable List.

List = d['list']
print(List)

[23, 32, 12]

In [30]:
#Print the type of List.

print(type(List))

<class 'list'>

In [31]:
#Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

d1 = {'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

In [32]:
#Merge d1 into d.

d.update(d1)
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

In [33]:
# print d

print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

In [34]:
#Print all the keys in d

for key in d.keys():
  print(key)

actor
animal
earth
list
singer
album
genre

In [35]:
# Print all the values in d

for value in d.values():
  print(value)

amir
cat
2
[23, 32, 12]
Kr$na
Still here
hip-hop

In [36]:
#Iterate over d, and print each key, value pair as this - (actor ----> amir)

for key, value in d.items():
  print(f"{key} ----> {value}")

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> Kr$na
album ----> Still here
genre ----> hip-hop

In [37]:
#count the number of occurences of charachters in string named "sent" using dictionary and print the same.

sent = 'Coronavirus Caused Lockdowns Around The World.'

char_counts = {}

for char in sent:
  if char in char_counts:
    char_counts[char] += 1
  else:
    char_counts[char] = 1

print(char_counts)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}