<a href="https://colab.research.google.com/github/MehrajShah/PYTHON/blob/main/Pandas_Assignment_Day_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [15]:
# Import pandas and numpy with their aliases

import pandas as pd
import numpy as np

# Define the variable Q
Q = 'some_value'

# Create the DataFrame
data = pd.DataFrame({
    'a' : ['100', '200', '300', '400'],
    'b' : [Q, 'W', 'E', 'R'],
    'c' : ['KUPWARA', 'BARAMULLA', 'SRINAGAR', 'BANDIPORA'],
})

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [19]:
# Create a variable a = pd.Series([ 100, 200, 300, 400])

import pandas as pd
import numpy as np

a = pd.Series([100, 200, 300, 400])

In [9]:
a = None

Print a, and data type

In [20]:
#  Print a, and data type

print(a)
print(type(a))

0    100
1    200
2    300
3    400
dtype: int64
<class 'pandas.core.series.Series'>

Using indexing access the element 300 from the series a.

In [21]:
#Using indexing access the element 300 from the series a.

print(a[2])

300

What are the values of index for series a?

In [23]:
# What are the values of index for series a?

print(a.index)

RangeIndex(start=0, stop=4, step=1)

Change the index to  ['c', 'a', 'b', 'd']

In [25]:
#  Change the index to ['c', 'a', 'b', 'd']

a.index = ['c', 'a', 'b', 'd']

Access the value in the series with index 'd'

In [ ]:
# Access the value in the series with index 'd'

print(a['d'])

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [27]:
# Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

import pandas as pd
b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])
print(b)

e    800
f    450
g    100
dtype: int64

In [30]:
b = None

Append b series at the end of a series

In [31]:
# prompt: Append b series at the end of a series

import pandas as pd
a = pd.Series([100, 200, 300, 400], index=['c', 'a', 'b', 'd'])
b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])

a = a.append(b)
print(a)

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

<ipython-input-31-8be24d3d7661>:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a = a.append(b)

In [35]:
a = None

In [39]:
# print a again after appending b into it

print(a)

None

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [50]:
# Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

import pandas as pd
a = pd.Series([100, 200, 300, 400], index=['c', 'a', 'b', 'd'])
df = pd.DataFrame(a)
print(df)

     0
c  100
a  200
b  300
d  400

In [53]:
df = pd.DataFrame()

What is the shape of the datafarme <br>
(also, what does it imply?)

In [56]:
# What is the shape of the datafarme
# (also, what does it imply?)

print(df.shape)

# (4, 1)

# This means that the DataFrame has 4 rows and 1 column.

(4, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

In [57]:
# Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

# Yes, that's correct. A shape of (7, 1) implies that the DataFrame has 7 rows and 1 column.

# Here's an example to illustrate:

import pandas as pd

# Create a DataFrame with 7 rows and 1 column
df = pd.DataFrame({'column1': [1, 2, 3, 4, 5, 6, 7]})

# Print the shape of the DataFrame
print(df.shape)

# Output:
# (7, 1)

# This means that the DataFrame has 7 rows and 1 column.

(7, 1)

What is the index of the dataframe, is it same as the series 'a'

In [58]:
# What is the index of the dataframe, is it same as the series 'a'

print(df.index)

# Output:
# Index(['c', 'a', 'b', 'd'], dtype='object')

# Yes, the index of the dataframe is the same as the series 'a'.

# When you create a DataFrame from a Series, the index of the Series is used as the index of the DataFrame.

# This is because the index of a Series is a fundamental property of the Series, and it is important to preserve this information when converting the Series to a DataFrame.

RangeIndex(start=0, stop=7, step=1)

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [59]:
# print the head and tail of the dataframe.
# Additional - (what does head and tali represent?)

print(df.head())

print(df.tail())

# Head and tail represent the first and last few rows of the DataFrame, respectively.

# By default, head() displays the first 5 rows of the DataFrame, while tail() displays the last 5 rows.

# You can also specify the number of rows to display by passing an argument to head() or tail(). For example, df.head(3) will display the first 3 rows of the DataFrame, while df.tail(2) will display the last 2 rows.

   column1
0        1
1        2
2        3
3        4
4        5
   column1
2        3
3        4
4        5
5        6
6        7

Rename the column of the dataframe as 'points'

In [61]:
# prompt: Rename the column of the dataframe as 'points'

df.columns = ['points']

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [63]:
# Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

import pandas as pd
import numpy as np
fruits = pd.Series(np.random.choice(['orange', 'mango', 'apple'], size=7))

In [72]:
#Create fruits array
import numpy as np
fruits = np.random.choice(['orange', 'mango', 'apple'], size=7)

fruits = []

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [75]:
#  Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
# print the head of the dataframe to verify

df['fruits'] = fruits
print(df.head())

   points      0      1      2 fruits
0   100.0    NaN    NaN    NaN  mango
1   200.0    NaN    NaN    NaN  apple
2   300.0    NaN    NaN    NaN  mango
3   400.0    NaN    NaN    NaN  apple
4     NaN  100.0  200.0  300.0  mango

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [84]:
# Create a dataframe d1 where the cols are ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

import pandas as pd
d1 = pd.DataFrame({'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'], 'Temperature': [15, 22, 20, 26, -2]})

Print(d1)

In [85]:
# Print(d1)

print(d1)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

what is the shape of d1

In [86]:
# What is the shape of d1.

print(d1.shape)

(5, 2)

In [89]:
# Set city = d1['city']

city = d1['city']

In [91]:
#print city
# What is the type of city.

print(city)

print(type(city))

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object
<class 'pandas.core.series.Series'>

Create another datafeame 'd2' where the columns are
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry']
'Temperature' - [24,35,36,39]

In [92]:
#Create another datafeame 'd2' where the columns are
# 'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry']
# 'Temperature' - [24,35,36,39]

import pandas as pd
d2 = pd.DataFrame({'city': ['Bengalaru', 'Coimbatore', 'Srirangam', 'Pondicherry'], 'Temperature': [24, 35, 36, 39]})

print the shape of this dataframe

In [93]:
# print the shape of this dataframe

print(d2.shape)

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [99]:
# merge the two dataframes together, save it in a new dataframe named 'd3'

import pandas as pd
d3 = pd.concat([d1, d2], axis=0)

In [102]:
d3 = {}

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20
How many cities are there?

In [104]:
# Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20
# How many cities are there?

import pandas as pd
d1 = pd.DataFrame({'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'], 'Temperature': [15, 22, 20, 26, -2]})

# Select the part of the dataframe such that it contains cities where temp is less than or equal to 20
d1_filtered = d1[d1['Temperature'] <= 20]

# How many cities are there?
num_cities = len(d1_filtered)

# Print the number of cities
print(num_cities)

3

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [105]:
# Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

import pandas as pd
d1 = pd.DataFrame({'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'], 'Temperature': [15, 22, 20, 26, -2]})

# Select the part of the dataframe such that it contains cities where temperature is greater than or equal to 35
d1_filtered = d1[d1['Temperature'] >= 35]

# Print the filtered DataFrame
print(d1_filtered)

Empty DataFrame
Columns: [city, Temperature]
Index: []

Applying functions to columns and creating new columns

In [106]:
# Applying functions to columns and creating new columns

# Create a function to add 1 to each element
def add_one(x):
  return x + 1

# Create a new column called 'Temperature_plus_one' by applying the add_one function to the 'Temperature' column
d1['Temperature_plus_one'] = d1['Temperature'].apply(add_one)

# Print the first five rows of the dataframe
print(d1.head())

         city  Temperature  Temperature_plus_one
0  Chandigarh           15                    16
1       Delhi           22                    23
2      Kanpur           20                    21
3     Chennai           26                    27
4      Manali           -2                    -1

We need to create another column in d3, which contains a boolean value for each city to indicate whether it's a union territory or not.

In [114]:
# We need to create another column in d3, which contains a boolean value for each city to indicate whether it's a union territory or not.

d3 = pd.DataFrame({'city': ['Chandigarh', 'Delhi', 'Pondicherry', 'Mumbai', 'Chennai']})
d3['is_union_territory'] = np.where(d3['city'].isin(['Chandigarh', 'Delhi', 'Pondicherry']), True, False)
print(d3)

          city  is_union_territory
0   Chandigarh                True
1        Delhi                True
2  Pondicherry                True
3       Mumbai               False
4      Chennai               False

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

In [117]:
# The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

d3 = pd.DataFrame({"city": ["delhi", "shimla"], "is_union_territory": [False, False], "temperature": [35, 20]})
print(d3)

     city  is_union_territory  temperature
0   delhi               False           35
1  shimla               False           20

**Indexing and selecting rows in DataFrame**

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [118]:
# Select subset of the dataframe d1 such that it contains the cities which are union territories.

import pandas as pd
d1 = pd.DataFrame({'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'], 'Temperature': [15, 22, 20, 26, -2]})

# Create a list of union territories
union_territories = ['Chandigarh', 'Delhi']

# Select the subset of the dataframe that contains the union territories
d1_union_territories = d1[d1['city'].isin(union_territories)]

# Print the subset of the dataframe
print(d1_union_territories)

         city  Temperature
0  Chandigarh           15
1       Delhi           22

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [120]:
#  Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

import pandas as pd
d1 = pd.DataFrame({'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'], 'Temperature': [15, 22, 20, 26, -2]})

# Convert the temperature to Fahrenheit
d1['Temperature_Fahrenheit'] = (d1['Temperature'] * 9/5) + 32

# Select the subset of the dataframe that contains the cities with temperature above 90 Fahrenheit
d1_above_90F = d1[d1['Temperature_Fahrenheit'] > 90]

# Print the subset of the dataframe
print(d1_above_90F)

Empty DataFrame
Columns: [city, Temperature, Temperature_Fahrenheit]
Index: []

**Select only the first three rows of the dataframe d1.**

In [122]:
# Select only the first three rows of the dataframe d1.

import pandas as pd
d1 = pd.DataFrame({'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'], 'Temperature': [15, 22, 20, 26, -2]})

# Select the first three rows of the dataframe
d1_first_three = d1.head(3)

# Print the first three rows of the dataframe
print(d1_first_three)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20

**Select all the rows and last two columns in the dataframe.**

In [123]:
#  Select all the rows and last two columns in the dataframe.

import pandas as pd
d1 = pd.DataFrame({'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'], 'Temperature': [15, 22, 20, 26, -2], 'is_union_territory': [True, True, False, False, False]})

# Select all the rows and last two columns
d1_last_two_columns = d1.iloc[:, -2:]

# Print the last two columns
print(d1_last_two_columns)

   Temperature  is_union_territory
0           15                True
1           22                True
2           20               False
3           26               False
4           -2               False

**Groupby**

In [124]:
# # Create a dataframe using dictionary of your choice
# # data =

import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
       'Age': [20, 25, 30, 35, 40],
       'City': ['New York', 'London', 'Paris', 'Tokyo', 'Berlin']}

df = pd.DataFrame(data)

In [125]:
# # Use Groupby of single column with aggregate sum()

df.groupby('City')['Age'].sum()

City
Berlin      40
London      25
New York    20
Paris       30
Tokyo       35
Name: Age, dtype: int64

In [126]:
# # Use Groupby of single column with aggregate count()

df.groupby('City')['Age'].count()

City
Berlin      1
London      1
New York    1
Paris       1
Tokyo       1
Name: Age, dtype: int64

In [128]:
# Use Groupby of single column with aggregate min() and max(

df.groupby('City')['Age'].agg(['min', 'max'])

          min  max
City
Berlin     40   40
London     25   25
New York   20   20
Paris      30   30
Tokyo      35   35

In [129]:
#  Use Groupby of any 2 columns with aggregate mean()

df.groupby(['City', 'Name'])['Age'].mean()

City      Name
Berlin    Eve        40.0
London    Bob        25.0
New York  Alice      20.0
Paris     Charlie    30.0
Tokyo     Diana      35.0
Name: Age, dtype: float64

In [130]:
# #Use Groupby of any 2 columns with aggregate min() and max()

df.groupby(['City', 'Name'])['Age'].agg(['min', 'max'])

                  min  max
City     Name
Berlin   Eve       40   40
London   Bob       25   25
New York Alice     20   20
Paris    Charlie   30   30
Tokyo    Diana     35   35

Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [131]:
# Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

import pandas as pd

a = pd.date_range(start='1/1/2020', end='4/1/2021')

print(a)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

In [132]:
#What is the len of a?

print(len(a))

457

In [133]:
# What is the type of a?

print(type(a))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>