<a href="https://colab.research.google.com/github/MehrajShah/PYTHON/blob/main/Python_Basics_Day_1-i.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Basic Terms**


*   Syntax (Valid & Invalid)
*   Comments

In [39]:
address = 'SAIWAN LOLAB : 193223'    # This is my address
print(address)                                # This is the print statement

SAIWAN LOLAB : 193223

In [40]:
print('SAIWAN')

SAIWAN

In [41]:
print(address)

SAIWAN LOLAB : 193223

In [42]:
address

'SAIWAN LOLAB : 193223'

**Python Data Types, Type Casting & Variables**


*   **Text Type:**	str
*   **Numeric Types:**	int, float
*   **Sequence Types:**	list, tuple, range
*   **Mapping Type:**	dict
*   **Set Types:**	set
*   **Boolean Type:**	bool

In [43]:
name = 'Mushi'
age = 25
height = 5.8

profile = ['Mushi',25,5.8,60,'Engineer']         # List Method
profile_2 = ('Mumi',23,5.5,55,'Teacher')        # Tuple Method
profile_3 = {'Name':'Shah','Role':'Cricket Analyst','age':22,'City':'Pune'} # Dictionary Method
profile_4 = {'Wasu',55.6,'Teacher', 5.6}     # Set Method

In [45]:
print(profile_3)

{'Name': 'Shah', 'Role': 'Cricket Analyst', 'age': 22, 'City': 'Pune'}

In [ ]:
type(profile_4)

set

In [46]:
student1 = ('Musharaf', 21, 90.2)    # Cannot modify it
student2 = ['Musharaf', 21, 90.2]    # Can modify it
student3 = {'Musharaf', 21, 90.2}    # Random Output

In [47]:
type(student1)

tuple

In [49]:
student = {'Name':'Musharaf', 'Age': 21, 'Percent':90.2}

In [ ]:
bool(1)

True

In [ ]:
age = str(22)

In [ ]:
type(age)

str

**Python Operators**

*   Arithmetic operators
*   Assignment operators
*   Comparison operators
*   Logical operators
*   Membership operators

In [ ]:
# Arithmetic Operators (+,-,*,/,%,**)                        # Used with numeric values to perform common mathematical operations

x = 5
y = 8

# print(x+y, x-y, x*y, x/y, x%y, x**y)

print(x*y)

40

In [ ]:

# Assignment Operators (=,+=,-=,*=,/=,%=,**=)                # Used to assign values to variables

x, y = 5, 8


# x = x - y
# x -= y       # x = x - y/


x = x * y


print(x)

40

In [ ]:
# Comparison Operators (==,!=,<,>,<=,>=)                     # Used to compare two values

# print(x == y, x != y, x < y, x > y, x <= y, x >= y)
x, y = 5, 8

x >= y

False

In [ ]:
# Logical Operators (==,!=,<,>,<=,>=)                        # Used to combine conditional statements

# print(x and y)

case1 =(x < y) or (x == y)

print(case1,not(case1))

True False

In [ ]:
# Membership Operators (==,!=,<,>,<=,>=)                     # Used to test if a sequence is presented in an object

# print(x in y, x not in y)

x = [1,2,3,4,5]
y = 6

y not in x

True