<a href="https://colab.research.google.com/github/MehrajShah/PYTHON/blob/main/Python_Basics_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Basic Terms**


*   Syntax (Valid & Invalid)
*   Comments

In [2]:
address = 'SAIWAN LOLAB : 193223'    # This is my address
print(address)                                # This is the print statement

SAIWAN LOLAB : 193223

In [3]:
print('JAMMU & KASHMIR')

JAMMU & KASHMIR

In [4]:
address

'SAIWAN LOLAB : 193223'

**Python Data Types, Type Casting & Variables**


*   **Text Type:**	str
*   **Numeric Types:**	int, float
*   **Sequence Types:**	list, tuple, range
*   **Mapping Type:**	dict
*   **Set Types:**	set
*   **Boolean Type:**	bool

In [7]:
name = 'MEHRAJ SHAH'
age = 30
height = 5.6

profile = ['MEHRAJ',25,5.8,60,'Engineer']         # List Method
profile_2 = ('MUSHARAF',23,5.5,55,'Teacher')        # Tuple Method
profile_3 = {'Name':'WASEEEM','Role':'Cricket Analyst','age':22,'City':'KUPWARA'} # Dictionary Method
profile_4 = {'MASHKOOR',55.6,'Teacher', 5.6}     # Set Method

In [11]:
print(profile_2)

('MUSHARAF', 23, 5.5, 55, 'Teacher')

In [ ]:
type(profile_4)

set

In [12]:
student1 = ('MUMTAZ', 21, 90.2)    # Cannot modify it
student2 = ['MUMTAZ', 21, 90.2]    # Can modify it
student3 = {'MUMTAZ', 21, 90.2}    # Random Output

In [13]:
type(student1)

tuple

In [18]:
student = {'Name':'MUMTAZ', 'Age': 21, 'Percent':90.2}

In [19]:
bool(1)

True

In [21]:
age = str(29)

In [22]:
type(age)

str

**Python Operators**

*   Arithmetic operators
*   Assignment operators
*   Comparison operators
*   Logical operators
*   Membership operators

In [26]:
# Arithmetic Operators (+,-,*,/,%,**)                        # Used with numeric values to perform common mathematical operations

RAFAQAT = 10
ARSHID = 5

# print(x+y, x-y, x*y, x/y, x%y, x**y)

print(RAFAQAT+ARSHID)
print(ARSHID*RAFAQAT)

15
50

In [27]:

# Assignment Operators (=,+=,-=,*=,/=,%=,**=)                # Used to assign values to variables

RAFAQAT, ARSHID = 10, 5


# x = x - y
# x -= y       # x = x - y/


javeed = RAFAQAT * ARSHID


print(javeed)

50

In [35]:
# Comparison Operators (==,!=,<,>,<=,>=)                     # Used to compare two values

# print(x == y, x != y, x < y, x > y, x <= y, x >= y)
javeed, RAFAQAT = 550, 378

javeed >= RAFAQAT

True

In [36]:
# Logical Operators (==,!=,<,>,<=,>=)                        # Used to combine conditional statements

# print(x and y)

case1 =(javeed < RAFAQAT) or (javeed == RAFAQAT)

print(case1,not(case1))

False True

In [37]:
# Membership Operators (==,!=,<,>,<=,>=)                     # Used to test if a sequence is presented in an object

# print(mumtaz in mashkoor, musharaf not in y)

mumtaz = [1,2,3,4,5]
mashkoor = 6

mashkoor not in mumtaz

True